<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
<h1 class="champheader">Team Fight Tactics Traits</h1>
<div class="container">
  <% data.forEach(v=> { %>
  <div class="cards">
    <div class="font">Class Name: <%=v.name %></div>
    <div class="font">Champions in Class: <%= v.champions %></div>
    <!-- <div class="font">Class Bonus: <%=v.bonus %></div> -->
    <!-- <div class="font">Class Set Bonus: <%=v.set %></div> -->
    <div class="font">Class Set Bonus: <%=v.count %></div>
    <div class="font">Class Set Bonus: <%=v.bonus %>
    <br>
    <br>
    <a class="button submit font" href="traits/<%=v.id%>">Edit</a>
    <form action="/traits/<%=v.id%>?_method=DELETE" method="POST">
        <input class="button cancel font" type="submit" value="Delete" />
    </form></div>
  </div>

  <% }) %>
</div>
